.base {
    width: 80%;
    background-color: var(--admin-background-color);
    overflow: auto;
}

.contentContainer {
    margin: 0 4rem;
}

.postTypeFilter {
    border: 1px solid var(--border-line-color);
    margin-bottom: 2rem;
}

.sectionNavigationList {
    display: flex;
}

.sectionNavigationList li {
    background-color: coral;
    margin: 0.2em;
    padding: 0.4em;
}

.postSection {
    border: 1px solid var(--border-line-color);
}

@supports (position: sticky) or (position: -webkit-sticky) {
    .sectionHeader {
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        align-items: center;
        background-color: var(--admin-background-color);
        padding: 0.875rem;
        border-bottom: 1px solid var(--border-line-color);
        z-index: 9999;
    }
}

.sectionHeaderLabel {
    width: 90%;
}

.sectionHeaderAction {
    background-color: var(--main-theme-color);
    padding: 0.4rem 0.5rem;
    transition: 0.5s;
}

.sectionHeaderAction a {
    color: white;
    font-weight: 200;
}

.sectionHeaderAction:hover {
    transform: scale(1.1);
    font-weight: 200;
}

.postList {
    padding: 0;
    margin: 0;
}

.post {
    display: flex;
    padding: 0.875rem;
    border-bottom: 1px solid var(--border-line-color);
}

.detail {
    width: 95%;
}

.info {
    display: flex;
}

.thumbnail {
    padding-right: 0.625rem;
}

.title {
    font-weight: 500;
}

.tagList {
    display: flex;
    padding: 0;
}

.tagList li {
    padding: 0.25rem;
    margin: 0.25rem 0.25rem 0.25rem 0;
    border: 1px solid var(--tag-border-color);
    color: var(--main-theme-color);
}

.time {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    padding-top: 0.625rem;
}

.time span {
    padding-left: 0.5rem;
}

.menu {

}