.dropdownBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--admin-background-color);
}

.dropdownBtn:hover {
    background-color: var(--main-theme-color);
    color: white;
}

.icon {
    padding-top: 4px;
}

.role {
    padding-left: 1.5rem;
}