.navMenuButton {
    display: none;
}

@media (max-width: 799px) {
    .navMenuButton {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem 0;
        border-right: 2px solid var(--main-theme-color);
        border-left: 2px solid var(--main-theme-color);
        background-color: var(--admin-background-color);
    }

    .navMenuButton div {
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 20vh;
        overflow: auto;
    }

    .button {
        width: 100%;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .button p {
        margin: 2px;
    }
}
