@keyframes GradientBackground {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background: var(--header-gradient);
    background-size: 300%;
    animation: GradientBackground 15s ease infinite;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    position: relative;
}

.pages {
    display: flex;
    padding: 0;
    margin: 0;
}

.page {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0.25rem 1rem;
    transition: background-color 0.5s;
}

.page:hover {
    background: rgba(147, 207, 218, 0.66);
    border-radius: 0.125rem;
}

.my {
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.page a {
    color: white;
}