.wrapper {
    width: 20%;
    font-size: 0.875rem;
}

.container {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border-right: 2px solid var(--main-theme-color);
    border-left: 2px solid var(--main-theme-color);
    background-color: var(--admin-background-color);
    animation: popUp 0.3s;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    transition-duration: 0.25s;
    transform: translateY(50px);
}