html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --main-theme-color: rgb(96, 56, 255);
    --tag-border-color: rgb(62, 0, 255);
    --border-line-color: rgba(128, 128, 128, 0.5);
    --admin-background-color: rgb(239, 236, 236);
    --hover-highlight-color: rgb(94, 250, 255);
}

a {
    color: deepskyblue;
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}
