.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}


.title {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0 0 1rem 0;
    margin: 0;
    border: none;
    outline: none;
}

.editor {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 50%;
    max-width: 50%;
    padding: 1rem 1rem 0 1rem;
}

.tag {
    font-size: 1.25rem;
    margin: 0;
    border: none;
    outline: none;
}

.tags {
    display: flex;
    padding: 1rem 0 0.5rem 0;
    margin: 0;
    flex-wrap: wrap;
}

.tagItem {
    padding: 0.25rem;
    margin: 0.25rem 0.25rem 0.25rem 0;
    border: 1px solid var(--tag-border-color);
    color: var(--main-theme-color);
}

.description {
    font-size: 0.875rem;
    color: rgb(182, 182, 182);
}

.mainText {
    padding: 1rem 0 0 0;
    margin: 0;
    font-size: 1.25rem;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
}

.preview {
    background-color: rgba(237, 241, 242, 0.5);
    width: 50%;
    max-width: 50%;
    max-height: 100vh;
    padding-left: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.25rem;
    height: 4rem;
    border-top: 1px solid var(--border-line-color);
}

.saveAction {
    display: flex;
}

.saveAction button {
    font-size: 1rem;
    cursor: pointer;
}

.draft {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.25rem;
    background-color: rgb(158, 132, 255);
    color: white;
    border: none;
}

.draft span {
    padding-left: 0.5rem;
}

.save {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.25rem;
    background-color: var(--main-theme-color);
    border: none;
    color: white;
}

.save span {
    padding-left: 0.5rem;
}